<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о товаре</title>
</head>
<body>
<h3>Информация о товаре: </h3>
<p th:text="'Наименование: ' + ${product.getTitle()}"></p>
<p th:text="'Описание: ' + ${product.getDescription()}"></p>
<p th:text="'Цена: ' + ${product.getPrice()}"></p>
<p th:text="'Cклад: ' + ${product.getWarehouse().getName()}"></p>
<p th:text="'Продавец: ' + ${product.getSeller()}"></p>
<p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
<div th:each="img : ${product.getImageList()}">
    <img th:src="'/img/' + ${img.getFileName()}">
</div>
</body>
</html>