a {
    text-decoration: none;
    color: blue;
}

 #search1 {

    margin-left: 15%;


  }

filter {
	width: 200px;
	border-color: black;
}

card-img-top {
	width:100px;
}

#tel{
	text-decoration: none;
}